@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
nav .logo img {
  width: 40%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 5px solid #9b1f50;
  margin: 0 20px;
}
nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #eee;
  font-size: 20px;
}
nav ul .nav-btn {
  text-decoration: none;
  color: #eee;
  font-size: 20px;
  border: 2px solid #eee;
  padding: 10px 15px;
  background: transparent;
  transition: 0.5s ease;
}
nav ul .nav-btn:hover {
  background: #b3afaf;
  color: #727272;
}
.Hero-container {
  display: flex;
  align-items: center;
  gap: 250px;
  padding: 7px 150px;
  color: #eee;
}
.Hero-container .img img {
  width: 80%;
  border-radius: 50%;
}
.Hero-container .text h1 {
  font-size: 62px;
  font-weight: bold;
  margin-bottom: 5px;
}
.Hero-container .text p {
  margin-bottom: 20px;
}
.Hero-container .text .btn {
  font-size: 20px;
  font-weight: bold;
  background: #9b1f50;
  padding: 12px 25px;
  border-radius: 36px;
  text-decoration: none;
  color: #eee;
}
